@import url(../styles/fontface.css);

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  left: 0%;
  width: 100%;
  font-family: Vetka, sans-serif;
  font-weight: bolder;
  font-size: 1.5vw;
  animation: rotateMenu 500ms ease-in-out forwards;
  height: 0%;
  background-color: $headerBackgroundColor;
}

.active-dropdown-link {
  color: #d400ff;
}

.dropdown-menu-link {
  display: flex;
  justify-content: center;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }

  70% {
    transform: rotateX(20deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.header-link-container {
  height: 100%;
  position: relative;
  width: 12%;
}

.dropdown-menu-text {
  display: flex;
  justify-content: center;
  background-color: $headerBackgroundColor;
  color: $headerFontColor;
  transition: 0.2s linear;
  text-decoration: none;
  font-weight: bolder;
}

.dropdown-menu-text:hover {
  background: #614766;
  color: #d400ff;
}
