@import url(../styles/fontface.css);

.products-div {
  margin-bottom: 10vh;
  width: 100%;
}

.search-field-div {
  z-index: 1400;
  margin-top: 4vh;
  display: flex;
  justify-content: center;
}

.search-field {
  background-color: #372c3a;
  color: $headerFontColor;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.2vw;
  padding: 0.5vw 2vh;
  border: 0.1vw solid $headerFontColor;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-field:focus {
  background-color: $headerBackgroundColor;
  border: 0.1vw solid $headerFontColor;
}

.game-list-div {
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  margin-top: 4vh;
  margin-bottom: 8vh;
  flex-wrap: wrap;
  flex-direction: column;

  justify-content: space-evenly;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $headerFontColor;
  backdrop-filter: brightness(20%);
}

.game-card-div {
  backdrop-filter: blur(5px) brightness(120%);
  height: 22vw;
  width: 15vw;
  border: 0.2vw solid #a9ac8c;
  box-shadow: 0.5vw 0.25vw 0.75vw rgb(128, 128, 128);
  border-radius: 5px;
  color: $headerFontColor;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 4vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2vw;
  transition: 0.1s linear;
}

.games-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recent-added-games-div {
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  margin-top: 4vh;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $headerFontColor;
  backdrop-filter: brightness(20%);
}

.games-div-text {
  text-align: center;
  font-size: 3vw;
  font-family: "Neonblitz", serif;
  margin-top: 0.5vh;
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09,
    0 0 151px #f09;
}

.card-image-background {
  width: 14.6vw;
  height: 25vw;
}

.game-card-div:hover {
  border: 0.2vw solid #d400ff;

  transform: scale(1.05);
  box-shadow: 0.6vw 0.35vw 1vw #9200af;
}

.game-image-div {
  width: 14.6vw;
  height: auto;
}

.game-card-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1vw;
  margin-top: 0.7vw;
  margin-left: 10px;
}

.anim-icon {
  width: 10vw;
  height: auto;
  display: flex;
  justify-content: center;
}

.game-platform-filter-div {
  box-shadow: 0 0 5vw rgb(202, 0, 158);
  z-index: 900;
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4vh;
  backdrop-filter: brightness(50%);
  height: 5vw;
  border-radius: 20px;
}

.category-button {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 25vw;
  padding: 0.5em 3em;
  border: 0.16em solid rgb(255, 255, 255);
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  background-color: black;
  filter: brightness(120%);
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
  text-align: center;
  transition: all 0.2s;
  border-radius: 20px;
}

.category-button:hover {
  color: #9702b4;
  border-color: #d400ff;
}

.category-button:active {
  color: #a900ca;
  border-color: rgb(255, 255, 255);
}

.chosed-category-button {
  color: white;
  border-color: #d400ff;
}
