.search-bar-found-games {
  position: absolute;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  backdrop-filter: brightness(10%);
  font-family: Vetka, sans-serif;
  font-weight: bolder;
  color: $headerFontColor;
  font-size: 1.2vw;
  margin-top: 3.1%;
  width: 14%;
  margin-right: 5vw;
}

.found-game-text {
  display: flex;
  justify-content: center;
}

.found-game-text:hover {
  border-radius: 10px;

  color: rgb(255, 0, 200);
  border-bottom: 0vh solid;
  background: #614766;
}
